*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
}
body {
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--md-background);
    color: var(--md-on-background);
}
ul, ol { list-style: none; }
img { max-width: 100%; height: auto; display: block; }
a { text-decoration: none; color: inherit; }
button, input, select, textarea { font: inherit; border: none; background: none; outline: none; }
button { cursor: pointer; }
table { border-collapse: collapse; border-spacing: 0; }